torch
torchvision
transformers==4.25.1
tokenizers<0.14
timm
fairscale
scipy
ftfy
regex
pycocoevalcap
Pillow
fastapi
uvicorn[standard]
python-multipart
huggingface_hub
git+https://github.com/xinyu1205/recognize-anything.git